@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20879,20880');

@mixin main-font(
  $weight: 400,
  $size: 16px,
  $height: 1.2,
  $letter: 0.04em,
  $style: normal,
  $transform: none
) {
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter;
  font-style: $style;
  text-transform: $transform;
}
