<section class="calculate">
  <div class="container calculate-container">
    <h2 class="calculate-title">Ми готові реалізувати найскладніші проекти!</h2>
    <ul class="hero__calc list">
      <li class="list__item calculate-btn">
        <button class="list__item__btn button">Розрахувати вартість</button>
      </li>
      <li class="list__item calc">
        <svg class="list__item__svg" width="24" height="24">
          <use href="./images/icons/sprite.svg#icon-calculate"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
