<section id="features" class="features">
  <div class="container features-container">
    <svg
      class="features-decor"
      xmlns="http://www.w3.org/2000/svg"
      width="1024"
      height="103"
      viewBox="0 0 1024 103"
      fill="none"
    >
      <path
        d="M508.69 14.4215L512 0L515.31 14.4215C521.566 41.6791 545.823 61 573.789 61H1192V103H-168V61H450.211C478.177 61 502.434 41.6791 508.69 14.4215Z"
        fill="#0F428F"
      />
    </svg>
    <div class="statistics">
      <div class="socials">
        <ul class="socials__list">
          <li class="socials__list-item">
            <a href="mailto:example@mail.com" class="socials__link">
              <svg class="socials__icon" width="16" height="16">
                <use href="./images/icons/sprite.svg#icon-mail"></use>
              </svg>
            </a>
          </li>
          <li class="socials__list-item">
            <a href="tel:+380503390387" class="socials__link">
              <svg class="socials__icon" width="16" height="16">
                <use href="./images/icons/sprite.svg#icon-call"></use>
              </svg>
            </a>
          </li>
          <li class="socials__list-item">
            <a href="https://whatsapp.com" class="socials__link">
              <svg class="socials__icon" width="16" height="16">
                <use href="./images/icons/sprite.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="socials__list-item">
            <a href="https://telegram.me" class="socials__link">
              <svg class="socials__icon" width="16" height="16">
                <use href="./images/icons/sprite.svg#icon-telegramm"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <ul class="statistics__list">
        <li class="statistics__list__item">
          <span class="statistics__text">27+</span>
          <p class="statistics__desc">років на ринку</p>
        </li>
        <li class="statistics__list__item">
          <span class="statistics__text">250+</span>
          <p class="statistics__desc">Висококваліфікованих спеціалістів</p>
        </li>
        <li class="statistics__list__item">
          <span class="statistics__text">500+</span>
          <p class="statistics__desc">клієнтів</p>
        </li>
        <li class="statistics__list__item">
          <span class="statistics__text">30+</span>
          <p class="statistics__desc">країн світу</p>
        </li>
      </ul>
    </div>
    <img
      src="./images/hero/logo1.png"
      alt="stellar logo"
      width="108"
      height="108"
      class="features-logo"
    />
    <div class="partners"></div>
  </div>
</section>
