<footer>
  <div class="container footer-container">
    <ul class="contacts">
      <li class="contacts__item">
        <h4 class="contacts__item-title">Офіс</h4>
        <p class="contacts__item-phone">+38 050 339 03 87</p>
        <p class="contacts__item-email">office@stellar.ua</p>
      </li>
      <li class="contacts__item">
        <h4 class="contacts__item-title">Комерційний відділ</h4>
        <p class="contacts__item-phone">+38 050 339 03 87</p>
        <p class="contacts__item-email">comm@stellar.ua</p>
      </li>
      <li class="contacts__item">
        <h4 class="contacts__item-title">
          Станція сервісного обслуговування та мийка
        </h4>
        <p class="contacts__item-phone">+38 050 316 78 60</p>
        <p class="contacts__item-email">service@stellar.ua</p>
      </li>
    </ul>
    <div class="footer-socials">
      <!-- Размер иконок меньше чем надо!!!! -->
      <div class="footer-social__wrapper">
        <svg class="socials-icon" width="16" height="16">
          <use href="./images/icons/sprite.svg#icon-facebook"></use>
        </svg>
      </div>
      <div class="footer-social__wrapper">
        <svg class="socials-icon" width="16" height="16">
          <use href="./images/icons/sprite.svg#icon-instagram"></use>
        </svg>
      </div>
      <div class="footer-social__wrapper">
        <svg class="socials-icon" width="16" height="16">
          <use href="./images/icons/sprite.svg#icon-linkedin"></use>
        </svg>
      </div>
    </div>
    <p class="copyright">All Rights Reseved. © Stellar 2023</p>
  </div>
</footer>
