<footer>
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div class="footer-calculate">
        <h2 class="calculate-title">
          Ми готові реалізувати найскладніші проекти!
        </h2>
        <ul class="hero__calc list footer-calc">
          <li class="list__item calculate-btn">
            <button class="list__item__btn button" data-calculate-modal-open>
              Розрахувати вартість
            </button>
          </li>
          <li class="list__item calc">
            <svg class="list__item__svg" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-calculate"></use>
            </svg>
          </li>
        </ul>
      </div>
      <ul class="contacts">
        <li class="contacts__item">
          <h4 class="contacts__item-title">Офіс</h4>
          <p class="contacts__item-phone">
            <a href="tel:+380503390387">+38 050 339 03 87</a>
          </p>
          <p class="contacts__item-email">
            <a href="mailto:office@stellar.ua">office@stellar.ua</a>
          </p>
        </li>
        <li class="contacts__item">
          <h4 class="contacts__item-title">Комерційний відділ</h4>
          <p class="contacts__item-phone">
            <a href="tel:+380503390387">+38 050 339 03 87</a>
          </p>
          <p class="contacts__item-email">
            <a href="mailto:comm@stellar.ua">comm@stellar.ua</a>
          </p>
        </li>
        <li class="contacts__item">
          <h4 class="contacts__item-title">
            Станція сервісного обслуговування та мийка
          </h4>
          <p class="contacts__item-phone">
            <a href="tel:+380503167860">+38 050 316 78 60</a>
          </p>
          <p class="contacts__item-email">
            <a href="mailto:service@stellar.ua">service@stellar.ua</a>
          </p>
        </li>
      </ul>

      <div class="footer-socials">
        <!-- Размер иконок меньше чем надо!!!! -->
        <div class="footer-social__wrapper">
          <svg class="socials-icon" width="16" height="16">
            <use href="./images/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </div>
        <div class="footer-social__wrapper">
          <svg class="socials-icon" width="16" height="16">
            <use href="./images/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </div>
        <div class="footer-social__wrapper">
          <svg class="socials-icon" width="16" height="16">
            <use href="./images/icons/sprite.svg#icon-linkedin"></use>
          </svg>
        </div>
      </div>
    </div>
    <p class="copyright">All Rights Reseved. © Stellar 2023</p>
  </div>
</footer>
