<section class="geography">
  <div class="container geography-container">
    <h3 class="geography__title">Географія перевезень</h3>
    <p class="geography__desc">
      <span class="text-accent">30 </span>країн Європи
    </p>
    <p class="geography__text">
      За короткий проміжок часу наша компанія стала лідером транспортних
      перевезень на території України, а згодом – перевезень по країнах Європи
      та в міжнародному сполученні
    </p>
    <div class="geography-wrapper">
      <iframe
        class="geography__frame"
        src="https://miniature.earth/demo/european-union.htm"
        width="343"
        height="347"
      ></iframe>
      <ul class="geography-list">
        <li class="geography-list__item">
          <svg class="geography-list__icon" width="48" height="48">
            <use href="./images/icons/sprite.svg#icon-location"></use>
          </svg>
          <p class="geography-list__text">
            Трекінг автопарку здійснюється в режимі 24/7
          </p>
        </li>
        <li class="geography-list__item">
          <img src="./images/geography/tir.png" alt="tir logo" width="48" />
          <p class="geography-list__text">
            TIR carnet <br />
            Пакет супровідних документів
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
