<section class="geography">
  <div class="container geography-container">
    <h3 class="geography__title">Географія перевезень</h3>
    <p class="geography__desc">
      <span class="text-accent">30 </span>країн Європи
    </p>
    <p class="geography__text">
      За короткий проміжок часу наша компанія стала лідером транспортних
      перевезен на території України, а згодом – перевезень по країнах Європи та
      в міжнародному сполученні
    </p>
    <iframe
      class="geography__frame"
      src="https://mangopay.com/?ref=land-book.com"
      frameborder="0"
      width="343"
      height="347"
    ></iframe>
    <ul class="geography-list">
      <li class="geography-list__item">
        <svg class="geography-list__icon" width="48" height="48">
          <use href="./images/icons/sprite.svg#icon-location"></use>
        </svg>
      </li>
      <li class="geography-list__item">
        <img src="./images/geography/tir.png" alt="tir logo" width="48" />
      </li>
    </ul>
  </div>
</section>
