<section class="hero">
  <div class="container">
    <div class="hero__desc">
      <h1 class="hero__title">
        <span class="hero__accent">Перевезення наливних вантажів</span><br />
        в Україні та в міжнародному сполученні
      </h1>
      <p class="hero__desc">
        Ми розрахуємо вартість транспортування вашого вантажу
        <span class="hero__desc--accent">за 15 хвилин</span>
      </p>
      <ul class="hero__calc list">
        <li class="list__item">
          <button class="list__item__btn button">Розрахувати вартість</button>
        </li>
        <li class="list__item calc">
          <svg class="list__item__svg" width="24" height="24">
            <use href="./images/icons/sprite.svg#icon-calculate"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="hero__animation">animation</div>
  </div>
</section>
