<section class="hero">
  <div class="container">
    <div class="hero__desc">
      <h1 class="hero__title">
        <span class="hero__accent">Перевезення наливних вантажів</span><br />
        в Україні та в міжнародному сполученні
      </h1>
      <p class="hero__desc-text">
        Ми розрахуємо вартість транспортування вашого вантажу
        <span class="hero__desc--accent">за 15 хвилин</span>
      </p>
      <ul class="hero__calc list">
        <li class="list__item">
          <button class="list__item__btn button" data-calculate-modal-open>
            Розрахувати вартість
          </button>
        </li>
        <li class="list__item calc">
          <button data-calculate-modal-open class="list__item__btn-icon">
            <svg class="list__item__svg" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-calculate"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="hero__animation">
      <div class="svg-left">
        <svg
          id="eAs4jPG1WT81"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 426 224"
          shape-rendering="geometricPrecision"
          text-rendering="geometricPrecision"
          width="426"
          height="224"
        >
          <g transform="translate(0 3)" opacity="0.2">
            <path
              d="M0,1h152c17.673,0,32,14.3269,32,32v119c0,17.673,14.327,32,32,32h173c17.673,0,32,14.327,32,32v5"
              fill="none"
              stroke="#577e99"
            />
            <path
              d="M0,82c3.20938,0,96.7593,0,152.038,0C169.711,82,184,96.3269,184,114v31.5"
              fill="none"
              stroke="#577e99"
            />
          </g>
          <ellipse
            id="eAs4jPG1WT85"
            rx="4"
            ry="4"
            transform="translate(4 4)"
            fill="#577e99"
            stroke-width="0"
          />
        </svg>
      </div>
      <div class="svg-right">
        <svg
          id="eMZjnK3cRw81"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 327 127"
          shape-rendering="geometricPrecision"
          text-rendering="geometricPrecision"
          width="327"
          height="127"
        >
          <path
            d="M324,83h-81c-17.673,0-32-14.3269-32-32v-18c0-17.6731-14.327-32-32-32L33,1C15.3269,1,1,15.3269,1,33v91"
            transform="translate(3 3)"
            opacity="0.2"
            fill="none"
            stroke="#577e99"
          />
          <ellipse
            id="eMZjnK3cRw83"
            rx="4"
            ry="4"
            transform="translate(312.006709 85.764069)"
            fill="#577e99"
            stroke-width="0"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
