<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mob-wrapper container">
    <a href="/" class="header__logo--mob"
      ><img src="./images/header-logo.png" alt="logo" width="98" height="40"
    /></a>
    <button class="menu-toggle js-close-menu close-menu-btn">
      <svg class="icon-close-mobile-menu" width="24" height="24">
        <use href="./images/icons/sprite.svg#icon-close-mobile-menu"></use>
      </svg>
    </button>
    <div class="mob-content-wrapper">
      <nav class="header-nav-mobile">
        <ul class="header-nav-list mobile-nav">
          <li class="header-nav-list__item">
            <a href="/" class="nav-list__item-text">Про компанію</a>
          </li>
          <li class="header-nav-list__item">
            <a href="/" class="nav-list__item-text">Послуги</a>
          </li>
          <li class="header-nav-list__item">
            <a href="/" class="nav-list__item-text">СТО</a>
          </li>
          <li class="header-nav-list__item">
            <a href="/" class="nav-list__item-text">Клієнти</a>
          </li>
          <li class="header-nav-list__item">
            <a href="/" class="nav-list__item-text">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="mob-contacts">
        <button class="button mob-contacts-btn">Замовити дзвінок</button>
        <p class="header-contacts__phone header-contacts__phone--mob">
          +38 050 339 03 87
        </p>
        <ul class="language-switcher language-switcher-mob">
          <li class="active"><a href="#">UA</a></li>
          <li><a href="#">ENG</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
