<section class="partners">
  <div class="container partners-container">
    <div class="partners-animations">Animation</div>
    <div class="companies">
      <p class="companies-desc">Більше 14 000 тонн перевозимо щомісяця</p>
      <ul class="companies-list">
        <li class="companies-list__item">
          <img
            src="./images/hero/partners/cocacola.png"
            alt="partner logo cocacola"
            width="71"
            height="22"
            class="img-cocacola"
          />
        </li>
        <li class="companies-list__item">
          <img
            src="./images/hero/partners/pepsico-logo_pepsico.png"
            alt="partner logo pepsico"
            width="108"
            height="31"
            class="img-pepsico"
          />
        </li>
        <li class="companies-list__item">
          <img
            src="./images/hero/partners/shell.png"
            alt="partner logo shell"
            width="34"
            height="39"
            class="img-shell"
          />
        </li>
        <li class="companies-list__item">
          <img
            src="./images/hero/partners/vioil.png"
            alt="partner logo vioil"
            width="51"
            height="15"
            class="img-vioil"
          />
        </li>
        <li class="companies-list__item">
          <img
            src="./images/hero/partners/agrana.png"
            alt="partner logo agrana"
            width="77"
            height="44"
            class="img-agrana"
          />
        </li>
        <li class="companies-list__item">
          <img
            src="./images/hero/partners/doehler_pos_dohler.png"
            alt="partner logo dohler"
            width="60"
            height="41"
            class="img-dohler"
          />
        </li>
        <li class="companies-list__item">
          <img
            src="./images/hero/partners/roshen.png"
            alt="partner logo roshen"
            width="80"
            height="19"
            class="img-roshen"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
