<section class="place-order">
  <div class="container order-container">
    <div class="order-info">
      <div class="order-info__tasks order">
        <h2 class="order__title">Є завдання на перевезення вантажу?</h2>
        <p class="order__desc">
          Підберемо машину під ваш вантаж та виконаємо доставку згідно ваших
          вимог
        </p>
      </div>
      <div class="order-achievments achievments">
        <h2 class="achievments__title">Перевезення рідких вантажів</h2>
        <p class="achievments__desc">Stellar – найкраща транспортна компанія</p>
        <ul class="achievments__list">
          <li class="achievments__list-item">
            <img
              src="./images/tasks/achievments/gmt.png"
              alt="gmt logo"
              width="62"
              class="achievments-gmt"
            />
          </li>
          <li class="achievments__list-item">
            <img
              src="./images/tasks/achievments/ekmt.png"
              alt="ekmt logo"
              width="56" class="achievments-ekmt"
            />
          </li>
          <li class="achievments__list-item">
            <img
              src="./images/tasks/achievments/adr.png"
              alt="adr logo"
              width="55"
              class="achievments-adr"
            />
          </li>
          <li class="achievments__list-item">
            <img
              src="./images/tasks/achievments/iso.png"
              alt="iso logo"
              width="55"
              class="achievments-iso"
            />
          </li>
        </ul>
      </div>
    </div>
</section>
