<section class="services">
  <div class="container">
    <div class="services__info">
      <h3 class="services__info-title">Послуги</h3>
      <p class="services__info-desc">
        Профільна спеціалізація забезпечує професіоналізм в доставці
        <span class="text-accent">будь-яких наливних вантажів</span>
      </p>
      <p class="services__info-text">
        Автопарк строго сегментований по товарних групах
      </p>
    </div>
    <div class="services__animation">
      <div class="services__animation-income">
        <!-- svg не по размеру!!! TODO -->
        <svg class="income-icon" width="26" height="24">
          <use href="./images/icons/sprite.svg#icon-nutrition"></use>
        </svg>
        <span class="income-text">Сік</span>
      </div>
      <img src="./images/services/logo2.png" alt="logo" width="80" />
      <div class="services__animation-out">
        <!-- svg не по размеру!!! TODO -->
        <svg class="out-icon" width="16" height="16">
          <use href="./images/icons/sprite.svg#icon-water_drop"></use>
        </svg>
        <svg class="polygon" width="32" height="32">
          <use href="./images/icons/sprite.svg#icon-Star"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
