<section class="slider">
  <div class="container slider-container">
    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <p class="weight">
            до 25.5 <span class="weight--accent">(тонн)</span>
          </p>
          <picture class="slider__image">
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck_1_fullhd@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck_1_fullhd@2x.png 2x
              "
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/trucks/trucks/tab_mob/truck1_tab@1x.png 1x,
                ./images/trucks/trucks/tab_mob/truck1_tab@2x.png 2x
              "
            />
            <img
              src="./images/trucks/trucks/tab_mob/truck1_tab@1x.png"
              alt="truck image"
              height="88"
            />
          </picture>
          <div class="characteristics">
            <svg class="characteristics-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-truck"></use>
            </svg>
            <ul class="characteristics__list">
              <li class="characteristics__item item">
                <span class="item__title">Тип кузова</span>
                <span class="item__value">Цистерна</span>
              </li>
              <li class="characteristics__item item">
                <span class="item__title">Виробник</span>
                <img
                  src="./images/trucks/brands/ffb.png"
                  alt="ffb brand logo"
                  width="41"
                  height="32"
                />
              </li>
            </ul>
            <div class="capacity">
              <span class="item__title">Об `єм</span>
              <span class="item__value">32 м<sup>3</sup></span>
            </div>
            <svg class="capacity-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-deployed"></use>
            </svg>
          </div>
          <div class="equipment-wrapper">
            <div class="equipment">
              <p class="equipment__title">Обладнання</p>
              <ul class="equipment__list">
                <li class="equipment__list-item">Підігрів продукту</li>
                <li class="equipment__list-item">Охолодження продукт</li>
              </ul>
            </div>
          </div>
          <button class="order-btn" data-truck-modal-open>
            <span class="order-btn__text">Замовити</span
            ><svg class="trucks-order__icon" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-slide">
          <p class="weight">до 25 <span class="weight--accent">(тонн)</span></p>
          <picture class="slider__image">
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck2_fullhd@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck2_fullhd@2x.png 2x
              "
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck2_fullhd@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck2_fullhd@2x.png 2x
              "
            />
            <img
              src="./images/trucks/trucks/full_ds/truck2_fullhd@1x.png"
              alt="truck image"
              height="88"
            />
          </picture>
          <div class="characteristics">
            <svg class="characteristics-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-truck"></use>
            </svg>
            <ul class="characteristics__list">
              <li class="characteristics__item item">
                <span class="item__title">Тип кузова</span>
                <span class="item__value">Танк контейнер</span>
              </li>
              <li class="characteristics__item item">
                <span class="item__title">Виробник</span>
                <img
                  src="./images/trucks/brands/tws.png"
                  alt="tws brand logo"
                  width="57"
                  height="22"
                />
              </li>
            </ul>
            <div class="capacity">
              <span class="item__title">Об `єм</span>
              <span class="item__value">25 м<sup>3</sup></span>
            </div>
            <svg class="capacity-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-deployed"></use>
            </svg>
          </div>
          <div class="equipment-wrapper">
            <div class="equipment">
              <p class="equipment__title">Обладнання</p>
              <ul class="equipment__list">
                <li class="equipment__list-item">Підігрів продукту</li>
                <li class="equipment__list-item">Охолодження продукт</li>
              </ul>
            </div>
          </div>
          <button class="order-btn" data-truck-modal-open>
            <span class="order-btn__text">Замовити</span
            ><svg class="trucks-order__icon" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-slide">
          <p class="weight">до 25 <span class="weight--accent">(тонн)</span></p>
          <picture class="slider__image">
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck3_fullhd@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck3_fullhd@2x.png 2x
              "
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/trucks/trucks/tab_mob/truck3_tab@1x.png 1x,
                ./images/trucks/trucks/tab_mob/truck3_tab@2x.png 2x
              "
            />
            <img
              src="./images/trucks/trucks/tab_mob/truck3_tab@1x.png"
              alt="truck image"
              height="88"
            />
          </picture>
          <div class="characteristics">
            <svg class="characteristics-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-truck"></use>
            </svg>
            <ul class="characteristics__list">
              <li class="characteristics__item item">
                <span class="item__title">Тип кузова</span>
                <span class="item__value">Тент</span>
              </li>
              <li class="characteristics__item item">
                <span class="item__title">Виробник</span>
                <img
                  src="./images/trucks/brands/schwarzmuller.png"
                  alt="schwarzmuller brand logo"
                  width="146"
                  height="18"
                />
              </li>
            </ul>
            <div class="capacity">
              <span class="item__title">Об `єм</span>
              <span class="item__value">96 м<sup>3</sup></span>
            </div>
            <svg class="capacity-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-deployed"></use>
            </svg>
          </div>
          <div class="equipment-wrapper">
            <div class="equipment">
              <p class="equipment__title">Обладнання</p>
              <ul class="equipment__list">
                <li class="equipment__list-item">
                  Компресор для видуву продукту
                </li>
              </ul>
            </div>
          </div>
          <button class="order-btn" data-truck-modal-open>
            <span class="order-btn__text">Замовити</span
            ><svg class="trucks-order__icon" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-slide">
          <p class="weight">до 25 <span class="weight--accent">(тонн)</span></p>
          <picture class="slider__image">
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck4_ds@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck4_ds@2x.png 2x
              "
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck4_ds@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck4_ds@2x.png 2x
              "
            />
            <img
              src="./images/trucks/trucks/full_ds/truck4_ds@1x.png"
              alt="truck image"
              height="88"
            />
          </picture>
          <div class="characteristics">
            <svg class="characteristics-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-truck"></use>
            </svg>
            <ul class="characteristics__list">
              <li class="characteristics__item item">
                <span class="item__title">Тип кузова</span>
                <span class="item__value">Сілосовоз</span>
              </li>
              <li class="characteristics__item item">
                <span class="item__title">Виробник</span>
                <img
                  src="./images/trucks/brands/ffb.png"
                  alt="ffb brand logo"
                  width="41"
                  height="32"
                />
              </li>
            </ul>
            <div class="capacity">
              <span class="item__title">Об `єм</span>
              <span class="item__value">60 м<sup>3</sup></span>
            </div>
            <svg class="capacity-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-deployed"></use>
            </svg>
          </div>
          <div class="equipment-wrapper">
            <div class="equipment">
              <p class="equipment__title">Обладнання</p>
              <ul class="equipment__list">
                <li class="equipment__list-item">Підігрів продукту</li>
                <li class="equipment__list-item">
                  Компресор для видуву продукту
                </li>
              </ul>
            </div>
          </div>
          <button class="order-btn" data-truck-modal-open>
            <span class="order-btn__text">Замовити</span
            ><svg class="trucks-order__icon" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-slide">
          <p class="weight">до 25 <span class="weight--accent">(тонн)</span></p>
          <picture class="slider__image">
            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck5_ds@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck5_ds@2x.png 2x
              "
            />
            <source
              media="(max-width: 1359px)"
              srcset="
                ./images/trucks/trucks/full_ds/truck5_ds@1x.png 1x,
                ./images/trucks/trucks/full_ds/truck5_ds@2x.png 2x
              "
            />
            <img
              src="./images/trucks/trucks/full_ds/truck5_ds@1x.png
                "
              alt="truck image"
              height="88"
            />
          </picture>
          <div class="characteristics">
            <svg class="characteristics-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-truck"></use>
            </svg>
            <ul class="characteristics__list">
              <li class="characteristics__item item">
                <span class="item__title">Тип кузова</span>
                <span class="item__value">Платформа конт...</span>
              </li>
              <li class="characteristics__item item">
                <span class="item__title">Виробник</span>
                <img
                  src="./images/trucks/brands/bodex.png"
                  alt="bodex brand logo"
                  width="42"
                  height="32"
                />
              </li>
            </ul>
            <div class="capacity">
              <span class="item__title">Розмір</span>
              <span class="item__value">20-ти та 40 футові</span>
            </div>
            <svg class="capacity-icon" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-deployed"></use>
            </svg>
          </div>
          <div class="equipment-wrapper"></div>
          <button class="order-btn" data-truck-modal-open>
            <span class="order-btn__text">Замовити</span
            ><svg class="trucks-order__icon" width="24" height="24">
              <use href="./images/icons/sprite.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <svg class="slider-svg" width="32" height="32">
          <use href="./images/icons/sprite.svg#icon-arrow_left"></use>

          <!-- TODO button blue color -->
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="slider-svg" width="32" height="32">
          <use href="./images/icons/sprite.svg#icon-arrow_right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
