<section class="team">
  <div class="container team-container">
    <div class="team-info">
      <h2 class="team-title">Хочеш стати частиною команди?</h2>
      <p class="team-desc">
        Залиште своє резюме та наші спеціалісти до Вас зателефонують для
        з’ясування всіх деталей.
      </p>
      <div class="form-button-wrapper team-button-wrapper">
        <button class="button continue-button" type="button">
          Долучитися до команди
        </button>
        <button class="button next-button" type="button">
          <svg class="next-button-icon" width="24" height="24">
            <use href="./images/icons/sprite.svg#icon-arrow_forward"></use>
          </svg>
        </button>
      </div>
      <div class="team-vacancy-slider">
        <div class="swiper teamSwiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper team-swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide team-slide">
              <ul class="vacancies">
                <li class="vacancy">
                  <div class="vacancy-info">
                    <h4 class="vacancy-title">Водій</h4>
                    <svg class="vacancy-icon" width="32" height="32">
                      <use href="./images/icons/sprite.svg#icon-fire"></use>
                    </svg>
                  </div>
                  <div class="conditions">
                    <p class="condition">3-5 років</p>
                    <p class="condition">Повний робочий день</p>
                    <p class="condition">Київ</p>
                  </div>
                </li>
                <li class="vacancy">
                  <div class="vacancy-info">
                    <h4 class="vacancy-title">Водій</h4>
                    <svg class="vacancy-icon" width="32" height="32">
                      <use href="./images/icons/sprite.svg#icon-fire"></use>
                    </svg>
                  </div>
                  <div class="conditions">
                    <p class="condition">3-5 років</p>
                    <p class="condition">Повний робочий день</p>
                    <p class="condition">Київ</p>
                  </div>
                </li>
                <li class="vacancy">
                  <div class="vacancy-info">
                    <h4 class="vacancy-title">Водій</h4>
                    <svg class="vacancy-icon" width="32" height="32">
                      <use href="./images/icons/sprite.svg#icon-fire"></use>
                    </svg>
                  </div>
                  <div class="conditions">
                    <p class="condition">3-5 років</p>
                    <p class="condition">Повний робочий день</p>
                    <p class="condition">Київ</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="swiper-slide team-slide">
              <ul class="vacancies">
                <li class="vacancy">
                  <div class="vacancy-info">
                    <h4 class="vacancy-title">Водій</h4>
                    <svg class="vacancy-icon" width="32" height="32">
                      <use href="./images/icons/sprite.svg#icon-fire"></use>
                    </svg>
                  </div>
                  <div class="conditions">
                    <p class="condition">3-5 років</p>
                    <p class="condition">Повний робочий день</p>
                    <p class="condition">Київ</p>
                  </div>
                </li>
                <li class="vacancy">
                  <div class="vacancy-info">
                    <h4 class="vacancy-title">Водій</h4>
                    <svg class="vacancy-icon" width="32" height="32">
                      <use href="./images/icons/sprite.svg#icon-fire"></use>
                    </svg>
                  </div>
                  <div class="conditions">
                    <p class="condition">3-5 років</p>
                    <p class="condition">Повний робочий день</p>
                    <p class="condition">Київ</p>
                  </div>
                </li>
                <li class="vacancy">
                  <div class="vacancy-info">
                    <h4 class="vacancy-title">Водій</h4>
                    <svg class="vacancy-icon" width="32" height="32">
                      <use href="./images/icons/sprite.svg#icon-fire"></use>
                    </svg>
                  </div>
                  <div class="conditions">
                    <p class="condition">3-5 років</p>
                    <p class="condition">Повний робочий день</p>
                    <p class="condition">Київ</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination vacancy-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev vacancy-prev-btn">
            <svg class="slider-svg" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-arrow_left"></use>

              <!-- TODO button blue color -->
            </svg>
          </div>
          <div class="swiper-button-next vacancy-next-btn">
            <svg class="slider-svg" width="32" height="32">
              <use href="./images/icons/sprite.svg#icon-arrow_right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <picture class="about-services__img team-img">
      <source
        media="(min-width: 1920px)"
        srcset="
          ./images/team/team_full@1x.jpg 1x,
          ./images/team/team_full@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 1360px)"
        srcset="
          ./images/team/team-ds@1x.jpg 1x,
          ./images/team/team-ds@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/team/team_tab@1x.jpg 1x,
          ./images/team/team_tab@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/team/team_mob@1x.jpg 1x,
          ./images/team/team_mob@2x.jpg 2x
        "
      />
      <img
        src="./images/team/team_mob@1x.jpg"
        alt="truck repair station image"
      />
    </picture>
  </div>
</section>
