<section class="trucks">
  <div class="container trucks-container">
    <div class="trucks__about">
      <div class="trucks-info">
        <div class="trucks-info__wrapper">
          <svg class="trucks-info__icon" width="32" height="32">
            <use href="./images/icons/sprite.svg#icon-shipping_truck"></use>
          </svg>
          <h2 class="trucks-info__title">Власний автопарк</h2>
        </div>
      </div>
      <div class="trucks-brand__wrapper">
        <p class="trucks-info__desc">
          <span class="text-accent">175</span> Автомобілів
        </p>
        <div class="trucks-info__brand">
          <img
            src="./images/trucks/volvo.png"
            class="brand-icon"
            alt="volvo logo"
            width="32"
          />
          <p class="brand-text">VOLVO</p>
        </div>
      </div>
      <div class="about-trucks">
        <p class="about-trucks-desc">
          Наш автопарк постійно оновлюється сучасними зразками техніки найкращих
          європейських виробників. Це, зокрема,
          <span class="text-accent"
            >нові VOLVO EURO-6 та сучасні напівпричепи.</span
          >
        </p>
      </div>
      <div class="truck-animation">
        <picture class="trucks__crane">
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/trucks/full_ds/crane_ds@1x.png 1x,
              ./images/trucks/full_ds/crane_ds@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/trucks/tab/crane_tab@1x.png 1x,
              ./images/trucks/tab/crane_tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/trucks/mob/crane_mob@1x.png 1x,
              ./images/trucks/mob/crane_mob@2x.png 2x
            "
          />
          <img
            src="./images/trucks/mob/crane_mob@1x.png"
            alt="trucks load crane"
          />
        </picture>
        <picture class="trucks__main">
          <source
            media="(min-width: 1360px)"
            srcset="
              ./images/trucks/full_ds/main_truck_ds@1x.png 1x,
              ./images/trucks/full_ds/main_truck_ds@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/trucks/tab/main_truck_tab@1x.png 1x,
              ./images/trucks/tab/main_truck_tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/trucks/mob/main_truck_mob@1x.png 1x,
              ./images/trucks/mob/main_truck_mob@2x.png 2x
            "
          />
          <img
            src="./images/trucks/mob/main_truck_mob@1x.png"
            alt="trucks load crane"
          />
        </picture>
      </div>
      <div class="loading">
        <div class="loading-wrapper">
          <p class="loading-percentage">100</p>
          <span class="loading-symbol">%</span>
          <!-- todo процент установить по нижней линии! -->
          <p class="loading-title">Завантажено в цистерну</p>
        </div>
        <div class="loadin-icon-wrapper">
          <svg class="loading-icon" width="16" height="16">
            <use href="./images/icons/sprite.svg#icon-water_drop"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="trucks__categoties">
      <div class="trucks-info">
        <div class="trucks-info__wrapper">
          <svg class="trucks-info__icon" width="32" height="32">
            <use href="./images/icons/sprite.svg#icon-weight"></use>
          </svg>
          <h2 class="trucks-info__title">Категорії вантажів</h2>
        </div>
      </div>
      <p class="trucks-info__desc">
        Машини<br />
        вантажопідйомністю
        <span class="text-accent">до 25,5 тонн</span>
      </p>
      <div class="about-trucks about-categories">
        <p class="about-trucks-desc text-accent">
          Автопарк строго сегментований по товарних групах
        </p>
      </div>
    </div>
  </div>
</section>
