.calculate {
  padding-top: 105px;
  padding-bottom: 55px;
}

.calculate-container {
  padding: 0 16px;
}

.calculate-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 24px;
}

.calculate-btn {
  width: 295px;
  text-align: center;
}
