.features-container {
  position: relative;
}

.features {
  height: 783px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./../images/hero/image_mob@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./../images/hero/image_mob@2x.jpg);
  }

  @media screen and (min-width: 375px) {
    background-image: url(./../images/hero/image_mob@1x.jpg);
    height: 783px;
    max-width: 375px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/hero/image_mob@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url(./../images/hero/image_tab@1x.jpg);
    height: 668px;
    max-width: 1024px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/hero/image_tab@2x.jpg);
    }
  }

  @media screen and (min-width: 1360px) {
    height: 700px;
    max-width: 1360px;

    background-image: url(./../images/hero/image_ds@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/hero/image_ds@2x.jpg);
    }
  }

  @media screen and (min-width: 1920px) {
    height: 700px;
    max-width: 1920px;

    background-image: url(./../images/hero/image_fullHD@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/hero/image_fullHD@2x.jpg);
    }
  }
}

.features-decor {
  position: absolute;
  bottom: -42px;
  left: 0%;
  width: 100%;

  @include media-min(tablet) {
    bottom: -42px;
  }
}
.statistics {
  padding-top: 357px;
  position: relative;

  @include media-min(desktop) {
    padding-top: 475px;
  }
}

.statistics__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;

  @include media-min(desktop) {
    gap: 100px;
  }
}

.statistics__list__item {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 164px;
  margin-bottom: 16px;

  @include media-min(tablet) {
    margin-bottom: 0px;
  }
  @include media-min(desktop) {
    &:nth-child(2) {
      margin-right: 270px;
    }
  }
}

.statistics__text {
  color: #fff;
  text-align: center;
  font-size: 48px;

  margin-bottom: 8px;
  position: relative;

  @include media-min(desktop) {
    font-size: 96px;
  }
}

.statistics__desc {
  color: #c1c1c1;
  text-align: center;
  color: var(--gray, #c1c1c1);

  @include media-min(desktop) {
    font-size: 20px;
  }
}

.socials {
  position: absolute;
  top: 15px;
  right: 15px;

  @include media-min(tablet) {
    display: none;
  }
  @include media-min(desktop) {
    display: block;
    top: -64px;
  }
}

.socials__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;

  border-radius: 24px;
  background: #0f428f;

  width: 32px;
  height: 128px;
  padding: 8px;

  @include media-min(desktop) {
    width: 40px;
    height: 160px;
  }
}

.socials__list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-logo {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%);

  @include media-min(desktop) {
    width: 150px;
    height: 150px;
  }
}

.companies-desc {
  @include media-min(tablet) {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-min(desktop) {
    width: 500px;
  }
}

.socials__icon {
  @include media-min(desktop) {
    width: 24px;
    height: 24px;
  }
}
