.geography {
  padding: 100px 0 0;
}

.geography-container {
  padding: 0 16px;
}

.geography-wrapper {
  display: block;
  position: relative;
}

.geography__title {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid #c1c1c1;
  width: 180px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.geography__desc {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;

  @include media-min(desktop) {
    font-size: 48px;
  }
}

.geography__text {
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;

  @include media-min(desktop) {
    width: 650px;
    margin-right: auto;
    margin-left: auto;
  }
}

.geography__frame {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;

  @include media-min(tablet) {
    width: 490px;
    height: 495px;
  }

  @include media-min(desktop) {
    width: 475px;
    height: 480px;
  }
}

.geography-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include media-min(tablet) {
    gap: 258px;
  }

  @include media-min(desktop) {
    gap: 595px;
    position: absolute;
    bottom: 37%;
    left: 50%;
    transform: translate(-50%);
  }
}

.geography-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.geography-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.geography-list__text {
  text-align: center;

  @include media-min(tablet) {
    width: 250px;
  }
}
