.hero {
  padding: 24px 0;
  text-align: center;
  padding-bottom: 0;
}

.hero__title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;

  @include media-min(desktop) {
    font-size: 48px;
  }
}

.hero__desc-text {
  margin-bottom: 24px;

  @include media-min(desktop) {
    width: 385px;
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__desc--accent {
  color: #0f428f;
}

.hero__accent {
  color: #0f428f;
}

.hero__calc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__item {
  border-radius: 25px;
  background: #0f428f;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background: var(--blue-dark, #000a56);
  }
}

.calc {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__animation {
  position: relative;
  height: 230px;
  overflow: hidden;
  @include media-min(tablet) {
    height: 75px;
    overflow: visible;
  }
  @include media-min(desktop) {
    height: 32px;
  }
}

.svg-left svg {
  position: absolute;
  left: 0;
  top: 0px;
  width: 310px;
  height: 300px;

  @include media-min(tablet) {
    overflow: visible;
    top: -156px;
  }
  @include media-min(desktop) {
    width: 420px;
    height: 220px;
    top: -187px;
  }
}

.svg-right svg {
  position: absolute;
  top: 125px;
  right: -35px;
  width: 230px;
  height: 120px;

  @include media-min(tablet) {
    overflow: visible;

    top: -134px;
    right: 0;
    width: 310px;
    height: 300px;
  }
  @include media-min(desktop) {
    width: 420px;
    height: 220px;
    top: -157px;
  }
}

.list__item__btn-icon {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
