.loadin-icon-wrapper {
  position: relative;
  height: 40px;
  width: 40px;
}

.loading-icon {
  position: absolute;
  top: 20%;
  animation: icon-animation 1500ms infinite;
}

.trucks__crane {
  z-index: 10;
}

@keyframes icon-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes hide-crane-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes hide-main-animation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    transform: translateX(20%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.trucks__main {
  position: relative;
  left: 0;
  opacity: 1;
  animation: none;
}

/* Анимация поднятия и исчезновения блока .truck-animation */
@keyframes moveUpAndFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Анимация поднятия блока .loading и .trucks__categoties */
@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-250px); /* Default value for all screen sizes */
  }
}

@media (min-width: 768px) and (max-width: 1359px) {
  @keyframes moveUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      transform: translateY(-400px);
    }
  }
}

@media (min-width: 1359px) and (max-width: 1920px) {
  @keyframes moveUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      transform: translateY(-500px);
    }
  }
}
